
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
    background-color: #f4f4f4;
    width: 300px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

.field {
    margin-bottom: 12px;
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

textarea,
input[type="time"],

button {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    height: 50px;
    resize: none;
}

button {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004494;
}
